.blog {
  padding: 50px 0 160px;
  background-image: url(../images/blog/bg/bg.svg);
  background-repeat: no-repeat;
  background-position: center center;

  @include media-w($smx) {
    padding: 60px 0;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 55px;
  }

  &__items {
    position: relative;
    display: flex;
    justify-content: space-between;

    @include media-w($lg) {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-w($md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-w($smx) {
      grid-template-columns: repeat(1, 1fr);
    }

    &::after {
      position: absolute;
      content: '';
      top: -31px;
      right: -23px;
      width: 126px;
      height: 53px;
      background-image: url(../images/blog/blog-dekor.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: -1;

      @include media-w($xl) {
        right: 8px;
      }
    }
  }

  &__item {
    max-width: 370px;
    border: 1px solid #ececec;
    transition: color 0.5s, fill 0.5s, box-shadow 0.5s;

    @include media-w($md) {
      max-width: 100%;
    }

    & img {
      @include media-w($md) {
        width: 100%;
      }
    }

    &:hover {
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      border: 1px solid transparent;

      .blog__item-link {
        color: $accent;
      }

      .blog__item-svg {
        fill: $accent;
      }
    }
  }

  &__item-imglink {
    display: block;

    img {
      height: 288px;
      object-fit: cover;

      @include media-w($xxs) {
        height: 220px;
      }
    }
  }

  &__item-box {
    padding: 30px 40px;

    @include media-w($lg) {
      padding: 20px 15px;
    }
  }

  &__item-title {
    @extend %roboto-400;
    font-size: 22px;
    line-height: 1.455;
    color: $title;
    margin-bottom: 20px;
  }

  &__item-link {
    position: relative;
    transition: color 0.5s;
  }

  &__item-svg {
    fill: #8d8d8d;
    width: 10px;
    height: 8px;
    transition: fill 0.5s;
  }
}

.blog-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @include media-w($xxs) {
    display: block;
  }

  &__author,
  &__data {
    padding-left: 30px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 4px;
      left: 0;
      width: 20px;
      height: 20px;
    }
  }

  &__author {
    &::before {
      background-image: url(../images/blog/icons/user.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &__data {
    @include media-w($xxs) {
      margin-top: 10px;
    }

    &::before {
      background-image: url(../images/blog/icons/time.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

}