.promo {
  padding: 150px 0 160px;
  background-image: url(../images/promo/promo-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;

  @include media-w($sms) {
    padding: 60px 0;
  }

  &__inner {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
  }

  &__subtitle {
    color: $accent;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.182;
    margin-bottom: 10px;
  }

  &__clock {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;

    @include media-w($sms) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include media-w($xs) {
      margin-top: 30px;
    }
  }

  &__clock-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);

    @include media-w($sms) {
      margin: 20px 35px;
    }

    @include media-w($xs) {
      margin: 8px;
    }

    span {
      font-size: 48px;
      @extend %roboto-700;
      line-height: 0.542;
      color: $title;
      margin: 10px 0 7px;
    }
  }

  &__link {
    margin-top: 55px;
    display: inline-block;
    text-transform: uppercase;
    @extend %roboto-400;
    background-color: $white;
    font-size: 16px;
    line-height: 1.6;
    color: $title;
    border: 1px solid $accent;
    padding: 14px 27px;
    transition: color 0.5s;

    @include media-w($xs) {
      margin-top: 30px;
    }

    &:hover {
      background-color: $accent;
      color: $white;
    }
  }
}

.partners {
  padding-top: 75px;

  &__list {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-w($sms) {
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
      padding-bottom: 60px;
    }
  }

  &__item {
    @include media-w($sms) {
      margin: 10px 35px;
    }

    @include media-w($smm) {
      margin: 10px 21px;
    }

    @include media-w($xs) {
      margin: 10px 25px;
    }
  }
}