.product {
  padding: 105px 0 120px;
  background-color: $white;
  text-align: center;

  @include media-w($sms) {
    padding: 60px 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;

    @include media-w($sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }

    @include media-w($sms) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__text {
    margin-bottom: 60px;
  }

  &__link {
    margin-top: 55px;
    display: inline-block;
    text-transform: uppercase;
    @extend %roboto-400;
    background-color: $white;
    font-size: 16px;
    line-height: 1.6;
    color: $title;
    border: 1px solid $accent;
    padding: 14px 27px;
    transition: color 0.5s;

    &:hover {
      background-color: $accent;
      color: $white;
    }
  }

}

.product-item {
  max-width: 370px;
  text-align: center;

  @include media-w($sms) {
    max-width: 100%;
  }

  &.product-item--list {
    min-width: 100%;
    display: flex;
    text-align: left;

    &:hover {
      .product-item__link-box {
        transform: translateY(-280%);
      }
    }

    .product-item__img-box {
      height: 250px;
      min-width: 200px;
      margin-bottom: 0;

      img {
        height: 250px;
      }
    }

    .product-item__text {
      margin-bottom: 25px;
      @include overflow($row-2);
    }

    .product-item__btn {
      border: 1px solid transparent;
      padding: 11px 40px;
      background-color: $title;
      color: $white;
      transition: background-color 0.5s, box-shadow 0.5s;

      &:hover {
        background-color: $accent;
        box-shadow: 20px 7px 20px 0px rgba(255, 17, 48, 0.3);
      }
    }

    .product-item__link-box {
      background-color: transparent;
      width: 115px;
      box-shadow: none;
      bottom: auto;

      .product-item__link {
        width: 50px;
        height: 50px;
        background-color: $white;
        border-radius: 50%;
        position: relative;

        .product-item__svg {
          position: absolute;
          top: 15px;
          right: 15px;
        }
      }

      .product-item__link--line {
        display: none;
      }
    }

    .product-item__content-box {
      display: block;
    }

    .product-item__title {
      order: -1;
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
    }

    .product-item__price {
      order: -1;
      margin-left: -12px;
    }

    .star {
      margin-left: 23px;
    }

    .product-item__box {
      display: flex;
      flex-wrap: wrap;
    }

    .product-item__wrapper-box {
      padding: 30px 40px;
      border: 1px solid #ececec;
      border-left: none;
    }
  }

  &__content-box {
    display: none;
  }

  &__img-box {
    position: relative;
    height: 370px;
    overflow: hidden;
    margin-bottom: 25px;

    @include media-w($md) {
      height: 305px;
    }
  }

  &__svg {
    width: 19px;
    height: 20px;
    fill: $title;
    transition: fill 0.5s;

    &:hover {
      fill: $accent;
    }
  }

  &__link-box {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    background-color: $white;
    box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
    width: 220px;
    height: 50px;
    margin: 0 auto;
    border-radius: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(300%);
    transition: transform 0.5s;
  }

  &__link {
    position: relative;
    display: inherit;
  }

  &__link--line::before,
  &__link--line::after {
    position: absolute;
    content: '';
    background-color: #ececec;
    width: 1px;
    height: 30px;
    top: 0;
  }

  &__link--line::before {
    left: -26px;
  }

  &__link--line::after {
    right: -26px;
  }

  &__images {
    object-fit: cover;

    @include media-w($sms) {
      width: 100%;
    }
  }

  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }

  &__title {
    color: $title;
    padding: 15px 0 20px;
    font-size: 22px;
    line-height: 1, 18;
  }

  &__price {
    display: flex;
    justify-content: center;
    @extend %roboto-400;
    font-size: 16px;
    line-height: 1.6;
  }

  &__new-price {
    padding: 0 12px;
    color: $title;
  }

  &__old-price {
    padding: 0 12px;
    color: $default;
    text-decoration: line-through;
  }

  &--sale {
    .product-item__img-box::before {
      content: 'SALE';
      @extend %btn;
      position: absolute;
      top: 25px;
      left: 25px;
      line-height: 1;
    }
  }

  &--fix {
    .product-item__img-box::after {
      content: '50% OFF';
      @extend %btn;
      position: absolute;
      top: 25px;
      left: 25px;
      line-height: 1;
    }
  }


}

.star {
  margin: 0 auto;
}